<!DOCTYPE html>{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | Image Collector</title>
    {% block custom-post-css %}<link rel="stylesheet" type="text/css" href="{% static 'image_collector/post_style.css' %}">{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'image_collector/style.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>

<body>
    <div role="document" class="container">
        <!-- NAV -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'ic:index' %}">Image Collector</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% if home %}active{% endif %}"><a href="{% url 'ic:index' %}">Home</a></li>
                        <li class="{% if website %}active{% endif %}"><a href="{% url 'ic:sites_view' %}">Websites</a></li>
                        <li class="{% if image_user %}active{% endif %}"><a href="{% url 'ic:users_view' %}">Users</a></li>
                        <li><a href="{% url 'ic:newest_view' %}">Newest Post</a></li>
                        <li><a href="{% url 'ic:random_view' %}">Random Post</a></li>
                    </ul>
                    {% if home or website or image_user %}
                    <div class="col-sm-3 col-md-3 pull-right">
                        <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="search" value="{% if search %}{{ search }}{% endif %}">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        {% if breadcrumbs|length > 0 %}
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}{% if breadcrumb.active %}
            <li class="active">{{ breadcrumb.name }}</li>{% else %}
            <li><a href="{{ breadcrumb.link }}">{{ breadcrumb.name }}</a></li>{% endif %}{% endfor %}
        </ul>
        {% endif %}
        <!-- /NAV -->

        <!-- ERROR HANDLING -->
        {% if error %}
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> {{ error_msg }}
        </div>
        {% endif %}
        <!-- /ERROR HANDLING -->

        <!-- PAGINATION -->
        {% if posts.has_previous or posts.has_next or users.has_previous or users.has_next or sites.has_previous or sites.has_next %}
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}{% if search %}&search={{ search }}{% endif %}">Previous</a>
                {% elif users.has_previous %}
                    <a href="?page={{ users.previous_page_number }}{% if search %}&search={{ search }}{% endif %}">Previous</a>
                {% elif sites.has_previous %}
                    <a href="?page={{ sites.previous_page_number }}{% if search %}&search={{ search }}{% endif %}">Previous</a>
                {% endif %}

                <span class="current">
                    Page
                    {% if posts %}
                        {{ posts.number }} of {{ posts.paginator.num_pages }}
                    {% elif users %}
                        {{ users.number }} of {{ users.paginator.num_pages }}
                    {% elif sites %}
                        {{ sites.number }} of {{ sites.paginator.num_pages }}
                    {% endif %}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}{% if search %}&search={{ search }}{% endif %}">Next</a>
                {% elif users.has_next %}
                    <a href="?page={{ users.next_page_number }}{% if search %}&search={{ search }}{% endif %}">Next</a>
                {% elif sites.has_next %}
                    <a href="?page={{ sites.next_page_number }}{% if search %}&search={{ search }}{% endif %}">Next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
        <!-- /PAGINATION -->

        <div class="row">
        <!-- CONTENT -->
            {% block content %} {% endblock %}
        <!-- /CONTENT -->
        </div>

        <!-- PAGINATION -->
        {% if posts.has_previous or posts.has_next or users.has_previous or users.has_next or sites.has_previous or sites.has_next %}
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}{% if search %}&search={{ search }}{% endif %}">Previous</a>
                {% elif users.has_previous %}
                    <a href="?page={{ users.previous_page_number }}{% if search %}&search={{ search }}{% endif %}">Previous</a>
                {% elif sites.has_previous %}
                    <a href="?page={{ sites.previous_page_number }}{% if search %}&search={{ search }}{% endif %}">Previous</a>
                {% endif %}

                <span class="current">
                    Page
                    {% if posts %}
                        {{ posts.number }} of {{ posts.paginator.num_pages }}
                    {% elif users %}
                        {{ users.number }} of {{ users.paginator.num_pages }}
                    {% elif sites %}
                        {{ sites.number }} of {{ sites.paginator.num_pages }}
                    {% endif %}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}{% if search %}&search={{ search }}{% endif %}">Next</a>
                {% elif users.has_next %}
                    <a href="?page={{ users.next_page_number }}{% if search %}&search={{ search }}{% endif %}">Next</a>
                {% elif sites.has_next %}
                    <a href="?page={{ sites.next_page_number }}{% if search %}&search={{ search }}{% endif %}">Next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
        <!-- /PAGINATION -->
        <br/><br/>

    </div>  <!-- container div -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>