{% extends 'image_collector/base.html' %}
{% block title %}Homepage{% endblock %}
{% block nav-home %}<li class="active"><a href="{% url 'ic:index' %}">Home</a></li>{% endblock %}
{% block content %}
{% for post in posts %}
<div class="{% if post.nsfw %}post_nsfw{% else %}post{% endif %} panel panel-primary" id="{{ post.pk }}">
    <div class="panel-heading">
        <h3 class="post_title panel-title">
            <a href="{% url 'ic:post_view' post.pk %}">{{ post.title }}</a>
            {% if post.images.all.count > 1 %}<span class="badge">{{ post.images.all.count }}</span>{% endif %}
        </h3>
    </div>
    <a href="{% url 'ic:post_view' post.pk %}">
    {% with image=post.images.all.0 %}
    <div class="post_item panel-body" id="{{ image.image_id }}">
        {% include 'image_collector/preview_image.html' %}
    </div>
    {% endwith %}
    </a>
</div>
{% endfor %}
{% endblock %}
