{% extends 'image_collector/base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
{% for object in objects %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title post_title">{{ object.name |truncatechars:40 }} <span class="badge pull-right">{{ object.count }}</span></h3>
        </div>
        <div class="panel-body">
            <a role="button" class="btn btn-lg btn-primary my-button" href="{{ object.link }}">View</a>
            {% if object.notes|length > 2 %}<br/><br/><div class="word-wrap well">{{ object.notes |safe }}</div>{% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}