{% extends 'image_collector/base.html' %}
{% block custom-post-css %}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block nav-users %}<li class="active"><a href="{% url 'ic:user_view' post.user.username %}">User</a></li>{% endblock %}
{% block content %}
<div class="col-sm-9">
    <div class="{% if post.nsfw %}nsfw{% endif %} post panel panel-primary" id="post-{{ post.pk }}">
        <div class="panel-heading">
            <h3 class="post-title panel-title">
                {{ post.title }}{% if post.images.all.count > 1 %}<span class="badge pull-right">{{ post.images.all.count }}</span>{% endif %}
            </h3>
        </div>
        {% if post.description.strip|length > 2 %}<div class="post-description word-wrap well">{{ post.description |safe}}</div>{% endif %}
        {% for image in post.images.all %}
        <div class="post-image panel-body" id="post-image-{{ image.image_id }}">
            {% if post.title != image.title %}<div class="image-title h3">{{ image.title }}</div>{% else %}<br/>{% endif %}
            {% include 'image_collector/render_image.html' %}
            {% if image.description.strip|length > 2 and post.description != image.description %}<div class="image-description word-wrap well">{{ image.description |safe}}</div>{% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<div class="col-sm-3" id="sidebar">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title" align="center">Info</h3>
        </div>
        <div class="panel-body">
            <div class="word-wrap well"><p>
                Post originally submitted by <a href="{% url 'ic:user_view' post.user.username %}">{{ post.user }}</a>
                on <a href="{% url 'ic:site_view' post.website.short_name %}">{{ post.website }}</a>
                </p>{% if post.permalink|length > 2 %}<p align="center" class="post-permalink">
                    <a class="btn btn-sm btn-primary" role="button" href="{{ post.permalink }}" target="_blank">Permalink <i class="fa fa-external-link-square"></i></a>
                </p>{% endif %}
                <p align="center" class="post-download-link">
                    <a class="btn btn-sm btn-primary" role="button" href="{% url 'ic:download_post_view' post.pk %}">Download <i class="fa fa-cloud-download"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
